input {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input:focus {
    background-color: lightblue;
}

#nickname {
    height: auto;
    background: rgba(165, 165, 165, 0.4);
}


h1 {
    font-size: 20px;
    font-family: cursive;
}
h2 {
    font-size: 30px;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    margin-bottom: 25px;
  }
button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
button:hover {
    background-color: #4CAF50;
    color: white;
  }
b {
    color: black;
}

#chose {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 430px;
    background-color: #555;
    padding-top: 30px;
    float: left;
}

#display {
    margin-left: 10px;
    width: 420px;
    height: 430px;
    background-color: #555;
    padding-top: 30px;
    float: left;
}
#flex {
    display: flex;
    flex-wrap: wrap;
}