#log{
    padding-top: 30px;
    background-color: grey;
    width: 330px;
    height: 310px;
}
#admin {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 40px;
}

h1 {
    color: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:rgba(255,255,255,0.5);
    transition: 0.3s;
    width: 400px;
    height: auto;
    border-radius: 5%;
    padding-top: 40px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(136, 120, 120, 0.2);
  }

  #user {
      width: 300px;
  }
  #pass {
      width: 300px;
  }

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    margin-bottom: 50px;
  }
  
button:hover {
    background-color: #008CBA;
    color: white;
  }

  /* Option.js */
  #simdash {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:rgba(255,255,255,0.6);
    transition: 0.3s;
    width: 450px;
    height: auto;
    border-radius: 5%;
    padding-top: 80px;
  }



  #chButton {
      margin-bottom: 70px;
  }

  /* AddRoute.js */
  .AddRoute {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:rgba(255,255,255,0.6);
    transition: 0.3s;
    width: 450px;
    height: auto;
    border-radius: 5%;
    padding-top: 80px;
  }
  #barangay {
      width: 360px;
      border-radius: 5px;
  }

  #addButton {
      margin-bottom: 100px;
  }

  /* DeleteRoute.js */
  #deleteDiv {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:rgba(255,255,255,0.6);
    transition: 0.3s;
    width: 450px;
    height: auto;
    border-radius: 5%;
    padding-top: 80px;
  }

  #deleteInput {
      width: 350px;
  }
  img {
      width: 50px;
      float: right;
  }